In [257]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

In [258]:
plt.style.use('fivethirtyeight')

In [259]:
sales_data= pd.read_csv('sales_data_sample .csv')

In [260]:
sales_data.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,Month-Year,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shppd,1,Feb-03,Motorcycles,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shppd,2,May-03,Motorcycles,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shppd,3,Jul-03,Motorcycles,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shppd,3,Aug-03,Motorcycles,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shppd,4,Oct-03,Motorcycles,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003 0:00,Shppd,4,Oct-03,Motorcycles,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,10180,29,86.13,9,2497.77,11/11/2003 0:00,Shppd,4,Nov-03,Motorcycles,...,"184, chausse de Tournai",NaN,Lille,NaN,59000,France,EMEA,Rance,Martine,Small
7,10188,48,100.00,1,5512.32,11/18/2003 0:00,Shppd,4,Nov-03,Motorcycles,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shppd,4,Dec-03,Motorcycles,...,5557 North Pendale Street,NaN,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shppd,1,Jan-04,Motorcycles,...,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium

In [261]:
sales_data.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
Month-Year           object
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [262]:
sales_data['SALES'] = sales_data['SALES'].astype(int)
sales_data['PRICEEACH'] = sales_data['PRICEEACH'].astype(int)

In [263]:
sales_data['ORDERDATE'] = pd.to_datetime(sales_data['ORDERDATE'])

In [264]:
sales_data['STATUS'] = sales_data['STATUS'].replace('Shppd', 'Shipped')
sales_data['STATUS'] = sales_data['STATUS'].replace('Canceled', 'Cancelled')

In [265]:
sales_data['Month'], sales_data['Year'] = sales_data['Month-Year'].str.split("-", 1).str

In [266]:
sales_data.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'Month-Year', 'PRODUCTLINE',
       'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1',
       'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE', 'Month', 'Year'],
      dtype='object')

In [267]:
sales_data = sales_data[['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'Month-Year', 'Month', 'Year','PRODUCTLINE',
       'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1',
       'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']]

In [268]:
sales_data.head(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,Month-Year,Month,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95,2,2871,2003-02-24,Shipped,1,Feb-03,Feb,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81,5,2765,2003-05-07,Shipped,2,May-03,May,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94,2,3884,2003-07-01,Shipped,3,Jul-03,Jul,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83,6,3746,2003-08-25,Shipped,3,Aug-03,Aug,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100,14,5205,2003-10-10,Shipped,4,Oct-03,Oct,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96,1,3479,2003-10-28,Shipped,4,Oct-03,Oct,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,10180,29,86,9,2497,2003-11-11,Shipped,4,Nov-03,Nov,...,"184, chausse de Tournai",NaN,Lille,NaN,59000,France,EMEA,Rance,Martine,Small
7,10188,48,100,1,5512,2003-11-18,Shipped,4,Nov-03,Nov,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,98,2,2168,2003-12-01,Shipped,4,Dec-03,Dec,...,5557 North Pendale Street,NaN,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
9,10211,41,100,14,4708,2004-01-15,Shipped,1,Jan-04,Jan,...,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium

In [269]:
avg_quantity = sales_data['QUANTITYORDERED'].mean()
avg_quantity

35.09280906836698

In [270]:
most_popular = sales_data.groupby('PRODUCTCODE')[['QUANTITYORDERED']].sum()
most_popular.sort_values(by = 'QUANTITYORDERED',ascending=False)

             QUANTITYORDERED
PRODUCTCODE
S18_3232                1774
S24_3856                1052
S18_4600                1031
S700_4002               1029
S12_4473                1024
S24_3949                1008
S50_1341                 999
S18_1097                 999
S18_2432                 998
S18_1342                 997
S18_3856                 997
S24_2300                 996
S18_2319                 993
S18_2949                 991
S700_2610                990
S24_2840                 983
S50_1392                 979
S24_1444                 976
S700_2824                976
S12_1108                 973
S12_1666                 972
S18_2238                 966
S12_4675                 964
S12_2823                 964
S10_1949                 961
S24_2011                 960
S32_3522                 957
S32_2509                 955
S24_3151                 955
S10_4757                 952
...                      ...
S18_2870                 855
S12_3380                 853
S700_3962                852
S24_2022                 851
S24_2841                 847
S24_2360                 845
S24_4048                 844
S24_1937                 844
S700_1938                839
S12_1099                 838
S700_1691                837
S32_2206                 836
S24_4620                 833
S18_3278                 832
S18_2325                 828
S24_3432                 824
S18_3140                 822
S32_4485                 817
S24_2887                 810
S18_1749                 802
S12_3990                 800
S18_2795                 789
S24_1785                 784
S24_3191                 779
S18_4409                 750
S18_2581                 746
S24_3969                 745
S18_2248                 743
S24_1046                 724
S18_4933                 714

[109 rows x 1 columns]

In [271]:
status = sales_data.groupby('STATUS')[['ORDERNUMBER']].count()
status

            ORDERNUMBER
STATUS
Cancelled            60
Disputed             14
In Process           41
On Hold              44
Resolved             47
Shipped            2617

In [272]:
status['Average'] = ((status['ORDERNUMBER'] / 2823) * 100).round(2) 
status['Average'] = status['Average'].astype(str) + '%'
status

            ORDERNUMBER Average
STATUS
Cancelled            60   2.13%
Disputed             14    0.5%
In Process           41   1.45%
On Hold              44   1.56%
Resolved             47   1.66%
Shipped            2617   92.7%

In [273]:
deal_sales = sales_data.groupby('DEALSIZE')[['SALES']].mean().round(2)
deal_sales

            SALES
DEALSIZE
Large     8293.30
Medium    4397.96
Small     2061.22

In [274]:
deal_quantity = sales_data.groupby('DEALSIZE')[['QUANTITYORDERED']].sum()
deal_quantity

          QUANTITYORDERED
DEALSIZE
Large                7414
Medium              52519
Small               39134

In [275]:
top_five = sales_data.groupby(['DEALSIZE','CUSTOMERNAME'])[['CUSTOMERNAME']].count().rename(columns = {'CUSTOMERNAME':'COUNT'})
top_five

                                            COUNT
DEALSIZE CUSTOMERNAME
Large    AV Stores, Co.                         1
         Alpha Cognac                           1
         Amica Models & Co.                     3
         Anna's Decorations, Ltd                2
         Australian Collectables, Ltd           1
         Australian Collectors, Co.             2
         Australian Gift Network, Co            1
         Auto Assoc. & Cie.                     1
         Auto Canal Petit                       1
         Baane Mini Imports                     1
         Blauer See Auto, Co.                   3
         CAF Imports                            1
         Canadian Gift Exchange Network         1
         Classic Gift Ideas, Inc                1
         Classic Legends Inc.                   1
         Clover Collections, Co.                2
         Collectable Mini Designs Co.           1
         Collectables For Less Inc.             2
         Corporate Gift Ideas Co.               3
         Corrida Auto Replicas, Ltd             4
         Cruz & Sons Co.                        1
         Daedalus Designs Imports               1
         Danish Wholesale Imports               5
         Diecast Classics Inc.                  4
         Diecast Collectables                   1
         Dragon Souveniers, Ltd.                3
         Euro Shopping Channel                 11
         FunGiftIdeas.com                       2
         Gift Depot Inc.                        3
         Handji Gifts& Co                       1
...                                           ...
Small    Osaka Souveniers Co.                  12
         Oulu Toy Supplies, Inc.               15
         Petit Auto                            15
         Quebec Home Shopping Network           9
         Reims Collectables                    20
         Rovelli Gifts                         27
         Royal Canadian Collectables, Ltd.     16
         Royale Belge                           3
         Salzburg Collectables                 16
         Saveley & Henriot, Co.                17
         Scandinavian Gift Ideas               17
         Signal Collectibles Ltd.               8
         Signal Gift Stores                    18
         Souveniers And Things Co.             21
         Stylish Desk Decors, Co.              11
         Suominen Souveniers                   13
         Super Scale Inc.                       3
         Technics Stores Inc.                  13
         Tekni Collectables Inc.                8
         The Sharp Gifts Warehouse             18
         Tokyo Collectables, Ltd               16
         Toms Spezialitten, Ltd                10
         Toys of Finland, Co.                  13
         Toys4GrownUps.com                     12
         UK Collectables, Ltd.                 11
         Vida Sport, Ltd                        9
         Vitachrome Inc.                       12
         Volvo Model Replicas, Co               7
         West Coast Collectables Co.            5
         giftsbymail.co.uk                     15

[254 rows x 1 columns]

In [276]:
top_five = top_five.reset_index()
top_five

    DEALSIZE                       CUSTOMERNAME  COUNT
0      Large                     AV Stores, Co.      1
1      Large                       Alpha Cognac      1
2      Large                 Amica Models & Co.      3
3      Large            Anna's Decorations, Ltd      2
4      Large       Australian Collectables, Ltd      1
5      Large         Australian Collectors, Co.      2
6      Large        Australian Gift Network, Co      1
7      Large                 Auto Assoc. & Cie.      1
8      Large                   Auto Canal Petit      1
9      Large                 Baane Mini Imports      1
10     Large               Blauer See Auto, Co.      3
11     Large                        CAF Imports      1
12     Large     Canadian Gift Exchange Network      1
13     Large            Classic Gift Ideas, Inc      1
14     Large               Classic Legends Inc.      1
15     Large            Clover Collections, Co.      2
16     Large       Collectable Mini Designs Co.      1
17     Large         Collectables For Less Inc.      2
18     Large           Corporate Gift Ideas Co.      3
19     Large         Corrida Auto Replicas, Ltd      4
20     Large                    Cruz & Sons Co.      1
21     Large           Daedalus Designs Imports      1
22     Large           Danish Wholesale Imports      5
23     Large              Diecast Classics Inc.      4
24     Large               Diecast Collectables      1
25     Large            Dragon Souveniers, Ltd.      3
26     Large              Euro Shopping Channel     11
27     Large                   FunGiftIdeas.com      2
28     Large                    Gift Depot Inc.      3
29     Large                   Handji Gifts& Co      1
..       ...                                ...    ...
224    Small               Osaka Souveniers Co.     12
225    Small            Oulu Toy Supplies, Inc.     15
226    Small                         Petit Auto     15
227    Small       Quebec Home Shopping Network      9
228    Small                 Reims Collectables     20
229    Small                      Rovelli Gifts     27
230    Small  Royal Canadian Collectables, Ltd.     16
231    Small                       Royale Belge      3
232    Small              Salzburg Collectables     16
233    Small             Saveley & Henriot, Co.     17
234    Small            Scandinavian Gift Ideas     17
235    Small           Signal Collectibles Ltd.      8
236    Small                 Signal Gift Stores     18
237    Small          Souveniers And Things Co.     21
238    Small           Stylish Desk Decors, Co.     11
239    Small                Suominen Souveniers     13
240    Small                   Super Scale Inc.      3
241    Small               Technics Stores Inc.     13
242    Small            Tekni Collectables Inc.      8
243    Small          The Sharp Gifts Warehouse     18
244    Small            Tokyo Collectables, Ltd     16
245    Small             Toms Spezialitten, Ltd     10
246    Small               Toys of Finland, Co.     13
247    Small                  Toys4GrownUps.com     12
248    Small              UK Collectables, Ltd.     11
249    Small                    Vida Sport, Ltd      9
250    Small                    Vitachrome Inc.     12
251    Small           Volvo Model Replicas, Co      7
252    Small        West Coast Collectables Co.      5
253    Small                  giftsbymail.co.uk     15

[254 rows x 3 columns]

In [277]:
fivefive = top_five.sort_values(['DEALSIZE','COUNT'],ascending=False).groupby('DEALSIZE').head(5)
fivefive

    DEALSIZE                  CUSTOMERNAME  COUNT
195    Small         Euro Shopping Channel    117
217    Small  Mini Gifts Distributors Ltd.     77
229    Small                 Rovelli Gifts     27
168    Small    Australian Collectors, Co.     26
162    Small                AV Stores, Co.     25
103   Medium         Euro Shopping Channel    131
125   Medium  Mini Gifts Distributors Ltd.     92
114   Medium             La Rochelle Gifts     28
128   Medium            Muscle Machine Inc     28
76    Medium    Australian Collectors, Co.     27
26     Large         Euro Shopping Channel     11
44     Large  Mini Gifts Distributors Ltd.     11
62     Large     The Sharp Gifts Warehouse      6
22     Large      Danish Wholesale Imports      5
47     Large            Muscle Machine Inc      5

In [278]:
quarter = sales_data.groupby('QTR_ID')[['QUANTITYORDERED','SALES']].sum()
quarter

        QUANTITYORDERED    SALES
QTR_ID
1                 23485  2350510
2                 20316  2047855
3                 17118  1758673
4                 38148  3874271

In [279]:
region = sales_data.groupby('COUNTRY')[['QUANTITYORDERED','SALES']].sum()
region.sort_values(by='SALES',ascending=False)

             QUANTITYORDERED    SALES
COUNTRY
USA                    35659  3627511
Spain                  12429  1215530
France                 11090  1110770
Australia               6246   630535
UK                      5013   478814
Italy                   3773   374624
Finland                 3192   329538
Norway                  2842   307425
Singapore               2760   288451
Denmark                 2197   245608
Canada                  2293   224044
Germany                 2148   220441
Sweden                  2006   209986
Austria                 1974   202036
Japan                   1842   188144
Switzerland             1078   117700
Belgium                 1074   108397
Philippines              961    94006
Ireland                  490    57749

In [280]:
sales_data['PRICEEACH'] = '$' + sales_data['PRICEEACH'].astype(str)
sales_data['SALES'] = '$' + sales_data['SALES'].astype(str)

In [281]:
sales_data

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,Month-Year,Month,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,$95,2,$2871,2003-02-24,Shipped,1,Feb-03,Feb,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,$81,5,$2765,2003-05-07,Shipped,2,May-03,May,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,$94,2,$3884,2003-07-01,Shipped,3,Jul-03,Jul,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,$83,6,$3746,2003-08-25,Shipped,3,Aug-03,Aug,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,$100,14,$5205,2003-10-10,Shipped,4,Oct-03,Oct,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,$96,1,$3479,2003-10-28,Shipped,4,Oct-03,Oct,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
6,10180,29,$86,9,$2497,2003-11-11,Shipped,4,Nov-03,Nov,...,"184, chausse de Tournai",NaN,Lille,NaN,59000,France,EMEA,Rance,Martine,Small
7,10188,48,$100,1,$5512,2003-11-18,Shipped,4,Nov-03,Nov,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
8,10201,22,$98,2,$2168,2003-12-01,Shipped,4,Dec-03,Dec,...,5557 North Pendale Street,NaN,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
9,10211,41,$100,14,$4708,2004-01-15,Shipped,1,Jan-04,Jan,...,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium
10,10223,37,$100,1,$3965,2004-02-20,Shipped,1,Feb-04,Feb,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
11,10237,23,$100,7,$2333,2004-04-05,Shipped,2,Apr-04,Apr,...,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,NaN,Frick,Michael,Small
12,10251,28,$100,2,$3188,2004-05-18,Shipped,2,May-04,May,...,7476 Moss Rd.,NaN,Newark,NJ,94019,USA,NaN,Brown,William,Medium
13,10263,34,$100,2,$3676,2004-06-28,Shipped,2,Jun-04,Jun,...,25593 South Bay Ln.,NaN,Bridgewater,CT,97562,USA,NaN,King,Julie,Medium
14,10275,45,$92,1,$4177,2004-07-23,Shipped,3,Jul-04,Jul,...,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium
15,10285,36,$100,6,$4099,2004-08-27,Shipped,3,Aug-04,Aug,...,39323 Spinnaker Dr.,NaN,Cambridge,MA,51247,USA,NaN,Hernandez,Marta,Medium
16,10299,23,$100,9,$2597,2004-09-30,Shipped,3,Sep-04,Sep,...,Keskuskatu 45,NaN,Helsinki,NaN,21240,Finland,EMEA,Karttunen,Matti,Small
17,10309,41,$100,5,$4394,2004-10-15,Shipped,4,Oct-04,Oct,...,Erling Skakkes gate 78,NaN,Stavern,NaN,4110,Norway,EMEA,Bergulfsen,Jonas,Medium
18,10318,46,$94,1,$4358,2004-11-02,Shipped,4,Nov-04,Nov,...,7586 Pompton St.,NaN,Allentown,PA,70267,USA,NaN,Yu,Kyung,Medium
19,10329,42,$100,1,$4396,2004-11-15,Shipped,4,Nov-04,Nov,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
20,10341,41,$100,9,$7737,2004-11-24,Shipped,4,Nov-04,Nov,...,Geislweg 14,NaN,Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Large
21,10361,20,$72,13,$1451,2004-12-17,Shipped,4,Dec-04,Dec,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
22,10375,21,$34,12,$733,2005-02-03,Shipped,1,Feb-05,Feb,...,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small
23,10388,42,$76,4,$3207,2005-03-03,Shipped,1,Mar-05,Mar,...,1785 First Street,NaN,New Bedford,MA,50553,USA,NaN,Benitez,Violeta,Medium
24,10403,24,$100,7,$2434,2005-04-08,Shipped,2,Apr-05,Apr,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
25,10417,66,$100,2,$7516,2005-05-13,Disputed,2,May-05,May,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Large
26,10103,26,$100,11,$5404,2003-01-29,Shipped,1,Jan-03,Jan,...,Erling Skakkes gate 78,NaN,Stavern,NaN,4110,Norway,EMEA,Bergulfsen,Jonas,Medium
27,10112,29,$100,1,$7209,2003-03-24,Shipped,1,Mar-03,Mar,...,Berguvsv„gen 8,NaN,Lule,NaN,S-958 22,Sweden,EMEA,Berglund,Christina,Large
28,10126,38,$100,11,$7329,2003-05-28,Shipped,2,May-03,May,...,"C/ Araquil, 67",NaN,Madrid,NaN,28023,Spain,EMEA,Sommer,Mart¡n,Large
29,10140,37,$100,11,$7374,2003-07-24,Shipped,3,Jul-03,Jul,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,10386,50,$87,16,$4357,2005-03-01,Resolved,1,Mar-05,Mar,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2794,10398,34,$40,1,$1367,2005-03-30,Shipped,1,Mar-05,Mar,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2795,10400,20,$56,4,$1122,2005-04-01,Shipped,2,Apr-05,Apr,...,3086 Ingle Ln.,NaN,San Jose,CA,94217,USA,NaN,Frick,Sue,Small
2796,10415,42,$57,3,$2419,2005-05-09,Disputed,2,May-05,May,...,7 Allen Street,NaN,Glen Waverly,Victoria,3150,Australia,APAC,Connery,Sean,Small
2797,10105,25,$56,8,$1419,2003-02-11,Shipped,1,Feb-03,Feb,...,Vinb'ltet 34,NaN,Kobenhavn,NaN,1734,Denmark,EMEA,Petersen,Jytte,Small
2798,10117,50,$43,2,$2184,2003-04-16,Shipped,2,Apr-03,Apr,...,"Bronz Sok., Bronz Apt. 3/6 Tesvikiye",NaN,Singapore,NaN,79903,Singapore,Japan,Natividad,Eric,Small
2799,10129,32,$64,8,$2079,2003-06-12,Shipped,2,Jun-03,Jun,...,35 King George,NaN,London,NaN,WX3 6FW,UK,EMEA,Brown,Ann,Small
2800,10142,39,$44,5,$1724,2003-08-08,Shipped,3,Aug-03,Aug,...,5677 Strong St.,NaN,San Rafael,CA,97562,USA,NaN,Nelson,Valarie,Small
2801,10153,50,$60,4,$3003,2003-09-28,Shipped,3,Sep-03,Sep,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2802,10167,38,$48,15,$1846,2003-10-23,Cancelled,4,Oct-03,Oct,...,?kergatan 24,NaN,Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
2803,10177,40,$50,6,$2009,2003-11-07,Shipped,4,Nov-03,Nov,...,"Merchants House, 27-30 Merchant's Quay",NaN,Madrid,NaN,28023,Spain,EMEA,Fernandez,Jesus,Small
2804,10185,28,$64,6,$1804,2003-11-14,Shipped,4,Nov-03,Nov,...,4575 Hillside Dr.,NaN,New Bedford,MA,50553,USA,NaN,Tam,Wing C,Small
2805,10197,42,$50,12,$2109,2003-11-26,Shipped,4,Nov-03,Nov,...,"Rambla de Catalu¤a, 23",NaN,Barcelona,NaN,8022,Spain,EMEA,Saavedra,Eduardo,Small
2806,10208,42,$63,6,$2682,2004-01-02,Shipped,1,Jan-04,Jan,...,"2, rue du Commerce",NaN,Lyon,NaN,69004,France,EMEA,Saveley,Mary,Small
2807,10222,36,$63,18,$2280,2004-02-19,Shipped,1,Feb-04,Feb,...,361 Furth Circle,NaN,San Diego,CA,91217,USA,NaN,Thompson,Valarie,Small
2808,10232,24,$49,3,$1192,2004-03-20,Shipped,1,Mar-04,Mar,...,Garden House Crowther Way,NaN,Cowes,Isle of Wight,PO31 7PJ,UK,EMEA,Bennett,Helen,Small
2809,10248,23,$65,9,$1506,2004-05-07,Cancelled,2,May-04,May,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
2810,10261,29,$50,7,$1472,2004-06-17,Shipped,2,Jun-04,Jun,...,43 rue St. Laurent,NaN,Montreal,Quebec,H1J 1C3,Canada,NaN,Fresnisre,Jean,Small
2811,10273,37,$45,10,$1696,2004-07-21,Shipped,3,Jul-04,Jul,...,Rue Joseph-Bens 532,NaN,Bruxelles,NaN,B-1180,Belgium,EMEA,Dewey,Catherine,Small
2812,10283,33,$51,12,$1693,2004-08-20,Shipped,3,Aug-04,Aug,...,23 Tsawassen Blvd.,NaN,Tsawassen,BC,T2F 8M4,Canada,NaN,Lincoln,Elizabeth,Small
2813,10293,32,$60,1,$1921,2004-09-09,Shipped,3,Sep-04,Sep,...,Via Monte Bianco 34,NaN,Torino,NaN,10100,Italy,EMEA,Accorti,Paolo,Small
2814,10306,35,$59,6,$2082,2004-10-14,Shipped,4,Oct-04,Oct,...,Fauntleroy Circus,NaN,Manchester,NaN,EC2 5NT,UK,EMEA,Ashworth,Victoria,Small
2815,10315,40,$55,5,$2227,2004-10-29,Shipped,4,Oct-04,Oct,...,"67, rue des Cinquante Otages",NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small
2816,10327,37,$86,4,$3209,2004-11-10,Resolved,4,Nov-04,Nov,...,Vinb'ltet 34,NaN,Kobenhavn,NaN,1734,Denmark,EMEA,Petersen,Jytte,Medium
2817,10337,42,$97,5,$4080,2004-11-21,Shipped,4,Nov-04,Nov,...,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,NaN,Hernandez,Maria,Medium
2818,10350,20,$100,15,$2244,2004-12-02,Shipped,4,Dec-04,Dec,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,$100,1,$3978,2005-01-31,Shipped,1,Jan-05,Jan,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,$100,4,$5417,2005-03-01,Resolved,1,Mar-05,Mar,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,$62,1,$2116,2005-03-28,Shipped,1,Mar-05,Mar,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,$65,9,$3079,2005-05-06,On Hold,2,May-05,May,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [282]:
sales_data.to_csv('cleaned_data.csv')